<!-- <p>recipe-detail works!</p> -->

<div class="row">
    <div class="col-xs-12">
        <img [src]="RecipeDetailInjectObj.imagePath" alt="{{RecipeDetailInjectObj.name}}" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{RecipeDetailInjectObj.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">To the Shopping list.</a></li>
                <li><a href="#">Edit the Recipe.</a></li>
                <li><a href="#">Delete the Recipe.</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{RecipeDetailInjectObj.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingridient
    </div>
</div>
